@import url("../index.css");

.calculator {
  width: 50%;
  height: 100vh;
  padding: 10px;
  margin: 5px auto;
}

.calculator,
.calculator__display,
.calculator__keys {
  border-radius: 5px;
  border: thin solid darkslategray;
}

.calculator__display,
.calculator__keys {
  padding: 5px;
  height: 50px;
  width: 98%;
  margin-bottom: 5px;
}

.calculator__display--result {
  text-align: right;
}
.calculator__display--operations {
  text-align: left;
}

.calculator__keys {
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  gap: 5px;
  height: auto;
}

.calculator__key {
  border: none;
  padding: 2rem 2.5rem;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 3px 3px 0.4px gray;
}

.calculator__key:active {
  box-shadow: none;
}
